.marquee {
  animation: marquee 1s linear infinite;
}

.marquee p {
  color: white;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  display: inline-block;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
